/*
!/.gitignore
!/build.sh
!/LICENSE
!/README.md
!/README.zh-CN.md
!/manifest.json
!/package.json
!/src/
!/ut/

/src/*
!/src/*.js

/ut/*
!/ut/*.js
!/ut/*.md
!/ut/helpers/
/ut/helpers/*
!/ut/helpers/*.js
